<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- World File -->
  <arg name="world_file" default="$(find robot_arm)/worlds/empty.world"/>

  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <!-- Launch other relevant files-->
  <include file="$(find robot_arm)/launch/robot_description.launch"/>

  <!-- Spawn UR5 -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robot_arm)/urdf/ur5.xacro'"/>
  
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model ur5 -x 0 -y 0 -z 0.1 -R 0 -P 0 -Y 0 -param robot_description" />

</launch>